In [ ]:
import pandas as pd

# Load orders data from CSV
orders = pd.read_csv("orders.csv")
print("✅ Orders dataset loaded")
print(orders.head())

✅ Orders dataset loaded
   order_id  user_id  restaurant_id  order_date  total_amount  \
0         1     2508            450  18-02-2023        842.97
1         2     2693            309  18-01-2023        546.68
2         3     2084            107  15-07-2023        163.93
3         4      319            224  04-10-2023       1155.97
4         5     1064            293  25-12-2023       1321.91

                  restaurant_name
0               New Foods Chinese
1  Ruchi Curry House Multicuisine
2           Spice Kitchen Punjabi
3          Darbar Kitchen Non-Veg
4       Royal Eatery South Indian

In [ ]:
# Load users data from JSON
users = pd.read_json("users.json")
print("✅ Users dataset loaded")
print(users.head())

✅ Users dataset loaded
   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [ ]:
import sqlite3

# Create in-memory SQLite database
conn = sqlite3.connect(":memory:")

# Load and execute SQL script
with open("restaurants.sql", "r") as file:
    sql_script = file.read()

conn.executescript(sql_script)

# Read restaurants table into a DataFrame
restaurants = pd.read_sql("SELECT * FROM restaurants", conn)
print("✅ Restaurants dataset loaded")
print(restaurants.head())

✅ Restaurants dataset loaded
   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

In [ ]:
# Merge orders and users on user_id
merged_df = pd.merge(
    orders,
    users,
    on="user_id",
    how="left"
)
print("✅ Orders merged with Users")
print(merged_df.head())

✅ Orders merged with Users
   order_id  user_id  restaurant_id  order_date  total_amount  \
0         1     2508            450  18-02-2023        842.97
1         2     2693            309  18-01-2023        546.68
2         3     2084            107  15-07-2023        163.93
3         4      319            224  04-10-2023       1155.97
4         5     1064            293  25-12-2023       1321.91

                  restaurant_name       name       city membership
0               New Foods Chinese  User_2508  Hyderabad    Regular
1  Ruchi Curry House Multicuisine  User_2693       Pune    Regular
2           Spice Kitchen Punjabi  User_2084    Chennai       Gold
3          Darbar Kitchen Non-Veg   User_319  Bangalore       Gold
4       Royal Eatery South Indian  User_1064       Pune    Regular

In [ ]:
# Merge with restaurants on restaurant_id
final_df = pd.merge(
    merged_df,
    restaurants,
    on="restaurant_id",
    how="left"
)
print("✅ Merged with Restaurants")
print(final_df.head())

✅ Merged with Restaurants
   order_id  user_id  restaurant_id  order_date  total_amount  \
0         1     2508            450  18-02-2023        842.97
1         2     2693            309  18-01-2023        546.68
2         3     2084            107  15-07-2023        163.93
3         4      319            224  04-10-2023       1155.97
4         5     1064            293  25-12-2023       1321.91

                restaurant_name_x       name       city membership  \
0               New Foods Chinese  User_2508  Hyderabad    Regular
1  Ruchi Curry House Multicuisine  User_2693       Pune    Regular
2           Spice Kitchen Punjabi  User_2084    Chennai       Gold
3          Darbar Kitchen Non-Veg   User_319  Bangalore       Gold
4       Royal Eatery South Indian  User_1064       Pune    Regular

  restaurant_name_y  cuisine  rating
0    Restaurant_450  Mexican     3.2
1    Restaurant_309   Indian     4.5
2    Restaurant_107  Mexican     4.0
3    Restaurant_224  Chinese     4.8
4    Restaurant_293  Italian     3.0

In [ ]:
# Save the final dataset to CSV
final_df.to_csv("final_food_delivery_dataset.csv", index=False)
print("✅ Final dataset created: final_food_delivery_dataset.csv")

✅ Final dataset created: final_food_delivery_dataset.csv